<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% extends "guratorapp/base.html" %}
        {% load extras %}
        {%  block title %}Social Computing Experiment{% endblock %}
        {%  block script %}
        {%  endblock %}
        {%  block body %}
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="{{ participant.picture.name|get_image_path }}">
                        <p class="tiny"><a href="/settings/">Edit settings</a></p>
                    </td>
                    <td>
                        <h2>Welcome, {{ user.username }}!</h2>
                        <p>This is the main page of the web system for the Social Computing Experiment.
                            In case of questions <a href="/help/">do not hesitate to reach out to us</a>.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <img src="/static/img/sep.jpg">
        <h2>The Experiment</h2>
        <p>The aim of this experiment is study the contribution of social context on the quality of group recommender systems. To do that, we are going to form groups from participants in this class and from externals. But first, Participants will undergo a personality test that measures
        how they behave in case a group conflict. Each participant will then do a survey in which he/she will rate other particpants in terms of different social aspects. Then, each individual participant will rate some restaurants in Munich according to pre-defined criteria. 
        Participants will then form groups, and each group is going to do the same Munich restaurants rating as in the individual case... Each of of the aforementioned tasks will be a separate phase in the experiment, and details for each phase will be announced and relevant details will be provided. 
        The experiment is designed to be easy and fun! :)</p>
        {%  endblock %}
    </body>
</html>
