<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {%  extends "guratorapp/base.html" %}
        {%  block title %}Social Information Retrieval Experiment (IN0036+IN2241){% endblock %}
        {%  block body %}
        <h1>Social Computing Experiment</h1>
        <p>
            <a href="/start/">Create new account</a> <!--<span class="tiny">registration period is over</span> --> - <a href="/login/">Login to existing account</a> - <a href="/help/">Help &amp; Contact</a>
        </p>
        {%  endblock %}
    </body>
</html>
