<!DOCTYPE html>
{% extends "guratorapp/base.html" %}
{% load extras %}
{% block title %} User Survey {% endblock%}
{%  block body %}
<h1> Select User to Survey</h1>
<font color="blue">
Participants in this experiment are listed below. By choosing one of them, you are going to be redirected to page in which you will go through a survey which aim is to evaluate different aspects of your relationship with this person. E.g. How much do you trust this person - How similar is this person to you, and so on...
Remember: This survey is <b>totally confidential.</b> 
</font>
</p>
<form action="/select_user/" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p>
        <b>You still have to survey {{num_remaining}} participants!</b>
    </p>
    <table class="real">
        <tbody>
        {% for target_participant in target_participants %}
            <tr>
                 <td colspan="4">
                    <img width="70" height="70" src={{target_participant.picture.name|get_image_path}}>
                </td>
                <td colspan="4">
                    <label>{{target_participant.real_name}}</label>
                </td>
                <td colspan="4">
                    <button type="submit" name="submitBtn" value="{{target_participant.id}}">Select this user</button>
                </td>
                <td class="error">{{ target_participant.errors.as_text }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{%  endblock %}