This experiment is conducted for scientific and teaching purposes at the Chair for Applied Informatics/Cooperative Systems at the Department of Informatics at Technische Universität München (TUM).

Strong measures are taken to protect the data obtained from the participants and to ensure that it is not possible to identify participants. Various actions are taken to reduce the participants' risk by anonymizing the data already on the client computer. After receiving the data, we will further anonymize it to remove the mapping between web user account and data record.

In aggregated form, statistical results (like, but not limited to, correlation values, mean/average values, variances, regression models) might get published in scientific literature. We guarantee that it won't be possible to identify the participants of the experiment based on the published information.

We will never share the data with anyone. After the completion of the experiment and the evaluation of the students' work, the raw data (i.e. with links between data records and web user accounts) will be deleted and only the anonymized dataset will be stored for our further scientific research.


