This is a voluntary consent to contribute your data to research and teaching activities of Safey Halim, Michael Haus, Leonardo Tonetto, Georg Groh, and Jörg Ott (all Faculty of Informatics, TU-München). With your permission, your data will be collected, processed, and used for the following purposes:

Purpose 1a: Research conducted in the scope of the PhD thesis work of Michael Haus and Leonardo Tonetto on a common volume of data, including, but not limited to, mobility modeling and predictability, and private proximity testing.

Purpose 1b: Research conducted in the scope of the PhD thesis work of Safey Halim on social context in group recommender systems.

Purpose 2: Provide anonymized versions of the data to the registered students in the voluntary exercises of the class IN0040 Social Gaming / IN2241 Social Computing (SS2018, TUM, Faculty of Informatics)  to be analyzed in the exercise sheets 5 and 6.

We will collect data during the months May and June 2017 with the help of a mobile phone app. This app collects the following sensor data from your phone and transmits it when a Wi-Fi connection is available:

•GPS location
•Cell id localization
-Bluetooth environment
-Environment sensors: acceleration, air pressure, magnetic field, temperature
We will during the months May and June 2017 further collect

•Personal Data: Full name, matriculation number (if student) - Date of birth - country - email address - device ID (mobile data collection experiment) -  Coordinates of the main place - Thomas-Kilmann conflict model test data
•Social network data: Trust, Tie strength, relationship strength, personal similarity, social context similarity, level of sympathy, social hierarchy, domain expertise
•Individual Restaurant ratings
•Group Restaurant ratings
from students within the class and selected persons outside the class which are chosen by students in the class.

Please note that, while we do not store any personal information, this data could bear enough information to make you identifiable.

The data will be stored until 30.12.2020. Your personal data will be collected, processed, and used in the context of the aforementioned objectives in accordance with the Bavarian Data Protection Act (BayDSG).

The collection, processing, and use of your data take place on a voluntary basis. You can revoke your consent at any time without any adverse consequences. Please send any notice of cancellation to:

Technische Universität München, Research Group Social Computing I11; Boltzmannstr.3; 85748 Garching, E-Mail: grohg@in.tum.de

In the event of cancellation, your data will be deleted upon receipt of your notice.

